<div class="container hide-cursor fixed-top neu-nav-styling">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-2"
  >
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <app-header></app-header>
    </div>

    <ul
      class="nav col-xs-12 col-sm-12 col-md-4 justify-content-center mb-md-0 neu-nav-bs neu-nav-br margin-top"
    >
      <li
        routerLinkActive="neu-active-nav-item firstItem"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/shop']"
          class="px-3 py-3 neu-nav-item"
          *ngIf="this.currentUserRole === 'Customer'"
          >Shop</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/orders']"
          class="px-3 py-3 neu-nav-item"
          *ngIf="this.currentUserRole === 'Customer'"
          >Orders</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/account/profile']"
          class="px-3 py-3 neu-nav-item"
          *ngIf="this.currentUserRole === 'Customer'"
          >Profile</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item lastItem"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/faq']"
          class="px-3 py-3 neu-nav-item"
          *ngIf="this.currentUserRole === 'Customer'"
          >FAQ</a
        >
      </li>

      <li
        routerLinkActive="neu-active-nav-item firstItem"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/admin']"
          class="px-2 py-3 increase-width neu-nav-item"
          *ngIf="this.currentUserRole === 'Admin'"
          >Overview</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/admin/manage-products']"
          class="px-3 py-3 increase-width neu-nav-item"
          *ngIf="this.currentUserRole === 'Admin'"
          >Products</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/admin/orders']"
          class="px-3 py-3 increase-width neu-nav-item"
          *ngIf="this.currentUserRole === 'Admin'"
          >Orders</a
        >
      </li>
      <li
        routerLinkActive="neu-active-nav-item lastItem"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/admin/accounts']"
          class="scroll-px-3 py-3 increase-width neu-nav-item"
          *ngIf="this.currentUserRole === 'Admin'"
          >Accounts</a
        >
      </li>
    </ul>

    <div id="nav-buttons" class="col-xs-12 col-sm-12 col-md-4 text-end">
      <button
        routerLinkActive="neu-nav-buttons-active"
        [routerLinkActiveOptions]="{ exact: true }"
        type="button"
        class="neu-nav-buttons-styling"
        *ngIf="!this.accountService.isUserLoggedIn()"
        [routerLink]="['/faq']"
        title="Frequently asked questions"
      >
        <i class="fa-solid fa-circle-question"></i>
      </button>
      <button
        routerLinkActive="neu-nav-buttons-active"
        [routerLinkActiveOptions]="{ exact: true }"
        type="button"
        class="neu-nav-buttons-styling"
        *ngIf="!this.accountService.isUserLoggedIn()"
        [routerLink]="['/account/login']"
        title="Login"
      >
        <i class="fa-solid fa-id-badge"></i>
      </button>
      <button
        routerLinkActive="neu-nav-buttons-active"
        [routerLinkActiveOptions]="{ exact: true }"
        type="button"
        class="neu-nav-buttons-styling"
        *ngIf="!this.accountService.isUserLoggedIn()"
        [routerLink]="['/account/register']"
        title="Register"
      >
        <i class="fa-solid fa-user-plus"></i>
      </button>

      <button
        routerLinkActive="neu-nav-buttons-active"
        [routerLinkActiveOptions]="{ exact: true }"
        type="button"
        title="Checkout"
        [disabled]="this.numberOfItemsInCart <= 0"
        class="neu-nav-buttons-styling indicator-container-styling"
        *ngIf="this.accountService.isUserLoggedIn()"
        [routerLink]="['/checkout']"
      >
        <i class="fa-solid fa-cart-shopping"></i>
        <div
          *ngIf="this.numberOfItemsInCart > 0"
          class="cart-indicator-text neu-flex-column"
        >
          {{ this.numberOfItemsInCart }}
        </div>
      </button>

      <button
        type="button"
        class="btn btn-outline-primary me-2 neu-nav-buttons-styling"
        *ngIf="this.accountService.isUserLoggedIn()"
        (click)="this.accountService.logout()"
        title="Logout"
      >
        <i class="fa-solid fa-power-off"></i>
      </button>
    </div>
  </header>
</div>
