<div class="card shadow-sm remove-border">
  <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
  <div class="card-body">

    <p class="card-text">Username: <strong>{{ individualAccountItem.userName }}</strong></p>
    <!--    <p class="card-text" *ngIf="this.individualOrder.message!==null">Message: {{ individualOrder.message }}</p>-->
    <p class="text-muted card-text">Fullname: {{ individualAccountItem.fullName }}</p>
    <p class="text-muted card-text">Email: {{ individualAccountItem.email }}</p>
    <p class="text-muted card-text">Phone Number: {{ individualAccountItem.phoneNumber }}</p>

  </div>
</div>
