@use "src/assets/scss/neu-variables" as neu-vars;

.neu-login-container {
  margin-top: 3.5rem;
  width: auto;
  height: auto;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  box-shadow: neu-vars.$login-bs;
  background: neu-vars.$secondary-color;
  border-radius: neu-vars.$medium-br;
  overflow: hidden;
  color: neu-vars.$neutral-text;
}

.login-button-spacing {
  margin-top: 1rem;
}

.login-component-spacing {
  margin-top: 0.5rem;
}

.show-caret {
  caret-color: rgba(0, 0, 0, 0);
}

.invalid-login-details {
  color: neu-vars.$red;
}

.additional-info-message {
  height: 3rem;
  color: neu-vars.$neutral-text;
  width: 80%;
  margin-top: 2rem;
  box-shadow: neu-vars.$login-bs-inset;
  border-radius: neu-vars.$medium-br;
}

.margin-top {
  margin-top: 3rem;
}

.neu-form-control {
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: neu-vars.$neutral-text;
  font-size: 1.1rem;
  border-radius: neu-vars.$medium-br;
  box-shadow: neu-vars.$login-bs-inset;
  padding: 1rem 1rem 1rem 1rem;
}

.neu-form-control-input {
  border: none;
  background: none;
  outline: none;
  caret-color: black;
}

.neu-form-control-button {
  border: 4px solid transparent;
  background: none;
  outline: none;
  margin-top: 1rem;
  width: 60%;
  height: 3rem;
  border-radius: neu-vars.$large-br;
  font-size: 1.1rem;
  // color: neu-vars.$neutral-text;
  // background-color: neu-vars.$secondary-color;
  color: neu-vars.$white;
  background: neu-vars.$dark-blue-bg;
  box-shadow: neu-vars.$login-bs;
  transition: all 0.3s;

  &:hover {
    background: neu-vars.$dark-blue-bg-hover;
    color: neu-vars.$dark-text;
    // background-color: neu-vars.$main-color;
    // border: 4px solid rgb(255, 255, 255);
  }

  &:active {
    background: neu-vars.$dark-blue-bg-hover;
    color: neu-vars.$dark-text;
    // border: 4px solid neu-vars.$white;
    // background-color: neu-vars.$main-color;
  }
}

.icon-spacing {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.error-icon-spacing {
  color: neu-vars.$red;
  padding-left: 1.5rem;
}

// .view-products-button-circle {
//   position: relative;
//   background: none;
//   outline: none;
//   margin-top: 8rem;
//   width: 10rem;
//   height: 10rem;
//   border-radius: 50%;
//   font-size: 1.1rem;
//   color: neu-vars.$neutral-text;
//   border: 4px solid neu-vars.$dark-text;
//   background: neu-vars.$view-products-button-background;
//   box-shadow: neu-vars.$view-products-button-bs;
//   transition: all 0.3s;
//   z-index: 1;

//   &:hover {
//     color: neu-vars.$white;
//     background-color: neu-vars.$main-color;
//   }

//   &::before {
//     position: absolute;
//     content: "";
//     height: 10.5rem;
//     width: 10.5rem;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: inherit;
//     background: neu-vars.$medium-component-lg-bg;
//     box-shadow: neu-vars.$view-products-button-before-bs;
//     z-index: -1;
//   }
// }

.view-products-button {
  margin-top: 3rem;
  border: 4px solid transparent;
  background: none;
  outline: none;
  width: 12rem;
  height: 3rem;
  border-radius: neu-vars.$large-br;
  font-size: 1.1rem;
  color: neu-vars.$white;
  background: neu-vars.$dark-blue-bg;
  box-shadow: neu-vars.$login-bs;
  transition: all 0.3s;

  &:hover {
    background: neu-vars.$dark-blue-bg-hover;
    color: neu-vars.$dark-text;
    // background-color: neu-vars.$main-color;
    // border: 4px solid rgb(255, 255, 255);
  }

  &:active {
    background: neu-vars.$dark-blue-bg-hover;
    color: neu-vars.$dark-text;
    // border: 4px solid neu-vars.$white;
    // background-color: neu-vars.$main-color;
  }
}

.view-products-button-image {
  // font-size: 1rem;
}

// .view-products-button {
//   position: relative;
//   background: none;
//   outline: none;
//   margin-top: 8rem;
//   width: 10rem;
//   height: 10rem;
//   border-radius: 50%;
//   font-size: 1.1rem;
//   color: neu-vars.$neutral-text;
//   border: 4px solid black;
//   // background-color: neu-vars.$secondary-color;
//   background: linear-gradient(145deg, #171717, #444245);
//   // box-shadow: neu-vars.$login-bs-light, neu-vars.$login-bs-dark;
//   box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;
//   transition: all 0.3s;
//   z-index: 1;

//   &:hover {
//     color: white;
//     background-color: neu-vars.$main-color;
//   }

//   &::before{
//     position: absolute;
//     content: '';
//     height: 10.5rem;
//     width: 10.5rem;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: inherit;
//     background: linear-gradient(145deg, #262626, #606060);
//     box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
//     z-index: -1;
//   }
// }

@media screen and (max-width: 768px) {
  .welcome-message {
    font-size: 0.2rem;
  }
}

@media screen and (max-width: 474px) {
  .mobile-spacing {
    margin-top: 5rem;
  }
}
