<div class="card remove-border">
  <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
  <div class="card-body">
    <p class="card-text">{{ orderDetail.product.name }}</p>
    <p class="card-text"><small class="text-muted price-font">Qty - {{ orderDetail.quantity }} : {{ orderDetail.totalPrice | currency:' LKR ' }}</small></p>
<!--    <p class="card-text">{{ orderDetail.product.description }}</p>-->
<!--    <p class="card-text">{{ orderDetail.orderId }}</p>-->
    <!--    <div class="d-flex justify-content-between align-items-center">-->
    <!--      <div class="btn-group">-->
    <!--        <button type="button" class="btn btn-sm btn-primary me-2"(click)="handleAddToCart()">Add To Cart</button>-->
    <!--        <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
