@use "src/assets/scss/neu-variables" as neu-vars;

.card{
  margin:3rem;
  width: 75rem;
}

.neu-faq{
  box-shadow: neu-vars.$standard-bs-3;
}

.card-div{
  margin-bottom: 2rem;
}


.faq-heading{
  margin-top: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 768px) {
  .mobile-sizing{
    width: 75%;
  }

  .margin-bottom {
    margin-top: 12rem;
  }

  .faq-heading{
    margin-top: 3rem;
    font-size: 1.2rem;
    padding-right: 2rem;
  }
}

//.example-accordion {
//  display: block;
//  max-width: 500px;
//}
//
//.example-accordion-item {
//  display: block;
//  border: solid 1px #ccc;
//}
//
//.example-accordion-item + .example-accordion-item {
//  border-top: none;
//}
//
//.example-accordion-item-header {
//  display: flex;
//  align-content: center;
//  justify-content: space-between;
//}
//
//.example-accordion-item-description {
//  font-size: 0.85em;
//  color: #999;
//}
//
//.example-accordion-item-header,
//.example-accordion-item-body {
//  padding: 16px;
//}
//
//.example-accordion-item-header:hover {
//  cursor: pointer;
//  background-color: #eee;
//}
//
//.example-accordion-item:first-child {
//  border-top-left-radius: 4px;
//  border-top-right-radius: 4px;
//}
//
//.example-accordion-item:last-child {
//  border-bottom-left-radius: 4px;
//  border-bottom-right-radius: 4px;
//}

@media screen and (max-width: 768px) {
  .margin-top {
    margin-top: 14rem;
  }
}

