<div class="container margin-top">
  <h3 class="faq-heading hide-cursor text-center">
    Frequently Asked Questions
  </h3>

  <div class="card hide-cursor mobile-sizing neu-faq">
    <app-accordion>
      <app-accordion-item title="How do I use this site?">
        <div class="p-2">
          First, we require you to create and account and log in. It's really
          quick and helps us contact you!<br />
          Next, add the products you would like to purchase to your cart and
          checkout.<br />
          After that, we will contact you with instructions and walk you through
          the product activation process.
        </div>
      </app-accordion-item>

      <app-accordion-item title="Are the Product Keys you provide genuine?">
        <div class="p-2">
          Yes, all of our Microsoft Product Keys are 100% genuine, and they only
          get activated via Microsoft servers.
        </div>
      </app-accordion-item>

      <app-accordion-item
        title="How can I verify that my Windows key is genuine?"
      >
        <div class="p-2">
          After activating Windows, you can verify whether it’s genuine Retail
          or OEM by following these steps: <br />
          1. Click the Start button <br />
          2. Type cmd and open the Command Prompt (right click and Run as
          Administrator) <br />
          3. Type the following and click Enter: slmgr -dli <br />
          4. You will now receive a popup stating whether your license is
          Retail, OEM, or a KMS license (Crack).
        </div>
      </app-accordion-item>

      <app-accordion-item
        title="How can I verify that my Office key is genuine?"
      >
        <div class="p-2">
          You can go to setup.office.com and follow the steps, and input the
          Product Key to check legitimacy.
        </div>
      </app-accordion-item>

      <app-accordion-item title="How can I remove KMS Crack from my PC?">
        <div class="p-2">
          Follow the following steps: <br />
          1. Click the Start button <br />
          2. Type cmd and open the Command Prompt (right click and Run as
          Administrator) <br />
          3. Type this and click Enter: <br />
          <b>slmgr -upk </b> <br />
          4. After that, type this and click Enter: <br />
          <b>slmgr -rearm </b><br />
          5. It will ask you to restart your PC. Please go ahead and restart it.
        </div>
      </app-accordion-item>

      <app-accordion-item
        title="How can I upgrade to Windows 10 Pro from Windows 10 Home/Home Single Language?"
      >
        <div class="p-2">
          Instructions will be provided based on your requirement. Please reach
          out by calling +94777596950 for more details.
        </div>
      </app-accordion-item>

      <app-accordion-item
        title="I have an older version of Office installed. Can I upgrade to a newer version?"
      >
        <div class="p-2">
          Yes, but you will have to first uninstall the older version before
          installing the new version. You can use this tool to completely remove
          Office from your PC: <br />
          <b>https://aka.ms/SaRA-officeUninstallFromPC</b>
        </div>
      </app-accordion-item>

      <app-accordion-item
        title="Will you provide download links for Office packages?"
      >
        <div class="p-2">Yes, all download links will be provided.</div>
      </app-accordion-item>

      <app-accordion-item title="How can I make a purchase?">
        <div class="p-2">
          You will need to create an account on our website, add the products
          you want to your cart, and checkout.
        </div>
      </app-accordion-item>

      <app-accordion-item title="What payment methods do you accept?">
        <div class="p-2">
          We accept payments via Bank Transfer and PayPal. <br />
          <!--      Bank Details are as follows: <br> <br>-->

          <!--      Commercial Bank <br>-->
          <!--      Dehiwala<br>-->
          <!--      8580036772<br>-->
          <!--      A.S. Gunawardene<br><br>-->

          <!--      Hatton National Bank<br>-->
          <!--      Cinnamon Gardens<br>-->
          <!--      076020230080<br>-->
          <!--      A.S. Gunawardene<br>-->
        </div>
      </app-accordion-item>

      <app-accordion-item title="When will I receive my Product Key?">
        <div class="p-2">
          We will send you your order as soon as the payment has been
          successfully received. We keep stocks on hand, so you don’t have to
          worry about delays.
        </div>
      </app-accordion-item>

      <app-accordion-item title="How do I activate the Product Key?">
        <div class="p-2">
          Instructions will be provided along with the Product Key via
          WhatsApp/Email.
        </div>
      </app-accordion-item>

      <app-accordion-item title="What if my Product Key does not work?">
        <div class="p-2">
          All of our Product Keys are 100% genuine, and we provide a lifetime
          guarantee for all of them. In the event that there is any technical
          issue, we will provide 24/7 support to fix the issue, or provide a
          replacement Product Key.
        </div>
      </app-accordion-item>
    </app-accordion>
  </div>
</div>
